{% extends "bbs/base2.html" %}

{% block css %}
<link  rel="stylesheet" href="/static/assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css">
<link  rel="stylesheet" href="/static/assets/vendor/dzsparallaxer/dzsparallaxer.css">
<link  rel="stylesheet" href="/static/assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
<link  rel="stylesheet" href="/static/assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
<link  rel="stylesheet" href="/static/assets/vendor/slick-carousel/slick/slick.css">

{% endblock %}

{% block content %}


<section class="container" >
    <section class="dzsparallaxer auto-init height-is-based-on-content g-mt-20 " data-options="{direction: 'reverse', settings_mode_oneelement_max_offset: '150'}">
        <div class="divimage dzsparallaxer--target w-100 g-bg-repeat " style="height: 200%; background-image: url(/static/assets/img/bg/pattern4.png)"></div>
        <div class="container text-center g-py-20">
            <h2 class="u-heading-v2__title g-mb-10">{{ post.title }}</h2>
        </div>
        <div class="media g-brd-around g-pa-30 g-mb-20">
            <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15" src="/media/{{ post.author.avatar }}" alt="Image Description">
            <div class="media-body">
                <div class="g-mb-15">
                    <h5 class="d-flex justify-content-between align-items-center h5 g-color-gray-dark-v1 mb-0">
                        <span class="d-block g-mr-10">{{post.author.name}}</span>
                    </h5>
                    <span class="g-color-gray-dark-v4 g-font-size-12">{{ post.created_time }}</span>
                </div>

                <p>
                    {{ post.content_html|linebreaks }}
                </p>

                <ul class="list-inline d-sm-flex my-0">
                    <li class="list-inline-item ml-auto">
                        <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                            <i class="icon-note g-pos-rel g-top-1 g-mr-3"></i>
                            Reply
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    {% for reply in reply_list%}
    <section class="dzsparallaxer auto-init height-is-based-on-content g-mt-20 " data-options="{direction: 'reverse', settings_mode_oneelement_max_offset: '150'}">
        <div class="divimage dzsparallaxer--target w-100 g-bg-repeat " style="height: 200%; background-image: url(/static/assets/img/bg/pattern4.png)"></div>
        <div class="media g-brd-around g-pa-30 g-mb-20">
            <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15" src="/media/{{ reply.user.avatar }}" alt="Image Description">
            <div class="media-body">
                <div class="g-mb-15">
                    <h5 class="d-flex justify-content-between align-items-center h5 g-color-gray-dark-v1 mb-0">
                        <span class="d-block g-mr-10">{{reply.user.name}}</span>
                    </h5>
                    <span class="g-color-gray-dark-v4 g-font-size-12">{{ reply.created_time }}</span>
                </div>

                <p>
                    {{ reply.content_html|linebreaks }}
                </p>

                <ul class="list-inline d-sm-flex my-0">
                    <li class="list-inline-item ml-auto">
                        <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" onclick="hideAndShow({{ reply.pk }});" href="#!">
                            <i class="icon-note g-pos-rel g-top-1 g-mr-3"></i>
                            Comment
                        </a>
                        {% ifequal reply.user.pk user.pk %}
                        &nbsp &nbsp &nbsp
                        <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="{% url 'delete' 'reply' reply.pk %}">
                            <i class="hs-admin-layout-placeholder g-pos-rel g-top-1 g-mr-3"></i>
                            Delete
                        </a>                                                
                        {% endifequal %}
                    </li>
                </ul>
            </div>
        </div>
        </div>
        {% for comment in comment_list|get_item:forloop.counter0 %}
        {% if forloop.last %}
        <div class="media g-brd-around g-brd-gray-light-v4 g-brd-2  g-brd-black-top g-pa-30 g-ml-40 g-mb-30">
        {% else %}
        <div class="media g-brd-around g-brd-gray-light-v4 g-brd-2  g-brd-black-top g-pa-30 g-ml-40 ">
        {% endif %}
            <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15" src="/media/{{ comment.user.avatar }}" alt="Image Description">
            <div class="media-body">
                <div class="g-mb-15">
                    <h5 class="h5 g-color-gray-dark-v1 mb-0">{{comment.user.name}}</h5>
                    <span class="g-color-gray-dark-v4 g-font-size-12">{{ comment.created_time }}</span>
                </div>
                <p>
                    {{ comment.content|linebreaks }}
                </p>

                <ul class="list-inline d-sm-flex my-0">
                    <li class="list-inline-item ml-auto" >
                        <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" onclick="hideAndShow({{ reply.pk }});" href="#!">
                            <i class="icon-note g-pos-rel g-top-1 g-mr-3"></i>
                            Comment
                        </a>
                        {% ifequal comment.user.pk user.pk %}
                        &nbsp &nbsp &nbsp
                        <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="{% url 'delete' 'comment' comment.pk %}">
                            <i class="hs-admin-layout-placeholder g-pos-rel g-top-1 g-mr-3"></i>
                            Delete
                        </a>                                                
                        {% endifequal %}
                    </li>
                </ul>
            </div>
        </div>
        {% endfor %}
        <div id='hideAndShow{{ reply.pk }}' class="container g-pa-30" style="display:none; background-color:white ">
            <form class="form-horizontal" autocomplete="off" action="{% url 'add_comment' reply.pk reply.user.pk %}" method="post" role="form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ comment_form.content.id_for_label }}" class="col-md-2 g-font-size-20 control-label">Comment</label>
                    <div class="col-sm-8">
                        <textarea  name="content" required id="id_content" class="form-control form-control-md rounded-0" rows="3" placeholder="Text area"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </section>   
    {% endfor %}
    <section class="dzsparallaxer auto-init height-is-based-on-content g-mt-20 " data-options="{direction: 'reverse', settings_mode_oneelement_max_offset: '150'}">

        <div class="container g-pa-30" style="background-color:white">
            <form class="form-horizontal" autocomplete="off" action="{% url 'add_reply' post.pk %}" method="post" role="form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ reply_form.content_html.id_for_label }}" class="col-md-2 g-font-size-20 control-label">Reply</label>
                    <div class="col-md-12">
                        <textarea  name="content_html" required id="id_content_html" class="form-control form-control-md rounded-0" rows="3" ></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </section>   
</section>
{% endblock %}

{% block js %}
<script  src="/static/assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
<script  src="/static/assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
<script  src="/static/assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
<script type="text/javascript">
    function hideAndShow(reply_pk){
        if($("#hideAndShow"+reply_pk).css("display") == "none")
          $('#hideAndShow'+reply_pk).css("display","block");
        else{
          $('#hideAndShow'+reply_pk).css("display","none");
        }
     }
</script>
{% endblock %}