{% extends 'web/base.html' %}
 
{% block title %}
<title>AI-Zone - Home</title>
{% endblock %}
 
{% block content %}
    <!-- Revolution Slider -->
    <div class="g-overflow-hidden">
        <div id="rev_slider_1014_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="typewriter-effect" data-source="gallery" style="background-color:transparent;padding:0px;">
            <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
            <div id="rev_slider_1014_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
                <ul>
                    {% for carousel in carousels %}
                    
                    <!-- SLIDE  -->
                    <li data-transition="slidingoverlayhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="{{ MEDIA_URL }}{{ carousel.image }}" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description=""
                    >
                        <!-- MAIN IMAGE -->
                        <img src="{{ MEDIA_URL }}{{ carousel.image }}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
                        <!-- LAYERS -->
                        {% if  carousel.title %}

                        <div class="tp-caption tp-shape tp-shapewrapper "
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                 data-width="full"
                                 data-height="full"
                                 data-whitespace="nowrap"

                                 data-type="shape"
                                 data-basealign="slide"
                                 data-responsive_offset="off"
                                 data-responsive="off"
                                 data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"

                                 style="z-index: 19;background-color:rgba(0, 0, 0, 0.50);border-color:rgba(0, 0, 0, 0);border-width:0px;"
                                 ></div>


                            
                        <div class="tp-caption   tp-resizeme"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                 data-fontsize="['100','100','70','60']"
                                 data-lineheight="['100','100','70','50']"
                                 data-width="['760','760','none','360']"
                                 data-height="none"
                                 data-whitespace="['normal','normal','nowrap','normal']"

                                 data-type="text"
                                 data-typewriter='{"lines":"","enabled":"on","speed":"80","delays":"1%7C100","looped":"off","cursorType":"one","blinking":"on","word_delay":"off","sequenced":"off","hide_cursor":"on","start_delay":"1000","newline_delay":"1000","deletion_speed":"20","deletion_delay":"1000","blinking_speed":"500","linebreak_delay":"60","cursor_type":"two","background":"off"}'
                                 data-responsive_offset="on"

                                 data-frames='[{"from":"y:50px;sX:1;sY:1;opacity:0;","speed":2500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                 data-textAlign="['center','center','center','center']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"

                                 style="z-index: 20; min-width: 760px; max-width: 760px; white-space: normal; font-size: 100px; line-height: 100px; font-weight: 700; color: rgba(255, 255, 255, 1.00);border-width:0px;letter-spacing:-5px;" 
                                 >
                                 {{ carousel.title|linebreaks }}
                        </div>
                        
                        {% endif %}
                    </li>
                    <!-- END SLIDE  -->                
                    {% endfor %}
                </ul>
                <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
            </div>
        </div>
    </div>
    <!-- End Revolution Slider -->

    <!-- Latest News -->
    <section class="g-py-100">
      <div class="container">

          <div class="text-center g-mb-50">
            <h2 class="h1 g-color-black g-font-weight-600">Our Latest News</h2>
            <p class="lead">TSome descriptions.</p>
          </div>
        <div class="row">
        {% for piece_news in news %}
            <div class="col-lg-4 g-mb-30">
                <!-- Article -->
                <article class="u-shadow-v21 g-bg-white rounded g-pa-25">
                    <ul class="list-inline small g-color-gray-dark-v4 g-mb-20">
                        <li class="list-inline-item">
                        {% if piece_news.news_type == 'Paper' %}
                            <a class="text-uppercase btn btn-xs u-btn-red rounded-0" href="#!">Paper</a>
                        {% elif piece_news.news_type == 'Application' %}
                            <a class="text-uppercase btn btn-xs u-btn-primary rounded-0" href="#!">Application</a>
                        {% else %}
                            <a class="text-uppercase btn btn-xs u-btn-purple rounded-0" href="#!">News</a>
                        {% endif %}
                        </li>
                        <li class="list-inline-item">|</li>
                        <li class="list-inline-item">{{ piece_news.date|date:"F j, Y" }}</li>
                    </ul>
                    <h3 class="h2 g-font-weight-300 g-mb-40">
                        <a class="u-link-v5 g-color-main g-color-primary--hover" href="{% url 'detial' 'news' piece_news.pk %}">{{ piece_news.title }}</a>
                    </h3>
                </article>
                <!-- End Article -->
            </div>
        {% endfor %}
        </div>
      </div>
    </section>
    <!-- End Latest News -->
    <hr class="g-brd-gray-light-v4 my-0">
    <!-- News -->
    <section class="container g-pt-100 g-pb-90">
      <div class="text-center g-mb-50">
        <h2 class="h1 g-color-black g-font-weight-600">Latest Research</h2>
        <p class="lead">We've Done some Amazing Jobs.</p>
      </div>

      <div class="row g-mx-minus-10">
      {% for research in footerData.researches %}
        <div class="col-sm-6 col-lg-4 g-px-10 g-mb-10">
          <!-- Blog Background Overlay Blocks -->
          <article class="u-block-hover">
            <div class="g-bg-cover g-bg-bluegray-gradient-opacity-v1--after">
              <img class="d-flex align-items-end u-block-hover__main--mover-down" src="/static/assets/img-temp/500x600/img1.jpg" alt="Image Description">
            </div>
            <div class="u-block-hover__additional--partially-slide-up text-center g-z-index-1 mt-auto">
              <div class="u-block-hover__visible g-pa-25">
                <h2 class="h4 g-color-white g-font-weight-600 mb-3">
                    <a class="u-link-v5 g-brd-bottom g-brd-2 g-brd-white--hover g-color-white g-cursor-pointer g-pb-2">{{ research.title }}</a>
                  </h2>
                <span class="g-color-white-opacity-0_7 g-font-size-10 ">{{ research.date|date:"F j, Y"  }}</span>
              </div>

              <a class="d-inline-block g-brd-bottom g-brd-white g-color-white g-font-weight-600 g-font-size-12 text-uppercase g-text-underline--none--hover g-mb-30" href="{% url 'detial' 'research' research.pk %}">Read more</a>
            </div>
          </article>
          <!-- End Blog Background Overlay Blocks -->
        </div>
      {% endfor %}
      </div>
          
    </section>
    <!-- End News -->
    <hr class="g-brd-gray-light-v4 my-0">

    <!-- Accordion -->
    <section class="g-bg-gray-gradient-opacity-v1">
      <div class="container g-py-100">
        <div class="row justify-content-center">
          <div class="col-lg-15">
            <!-- Heading -->
            <div class="text-center g-mb-50">
              <h2 class="h1 g-color-black g-font-weight-600">Our Publications</h2>
              <p class="lead">TSome descriptions.</p>
            </div>
            <!-- End Heading -->

            <div id="accordion" class="u-accordion u-accordion-color-primary" role="tablist" aria-multiselectable="true">
                  
              {% for paper in publications %}
              <!-- Card -->
              <div class="card g-brd-none rounded g-mb-20">
                <div id="accordion-heading-01" class="g-pa-0" role="tab">
                  <h5 class="mb-0">
                      <a class="collapsed d-flex justify-content-between u-shadow-v19 g-color-main g-text-underline--none--hover rounded g-px-30 g-py-20 " href="{{ paper.link }}">
                        {{ paper.title }}
                      </a>
                    </h5>
                </div>
              </div>
              <!-- End Card -->
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Accordion -->
{% endblock %}

