{% extends 'web/base.html' %}
 
{% block title %}
<title>AI-Zone - Team</title>
{% endblock %}
 
{% block content %}
      <!-- Cube Portfolio Blocks - Content -->
      <div id="portfolio-section" class="container g-pt-70 g-pb-100">

        <!-- Heading -->
        <div class="text-center g-mb-70">
          <header class="text-center g-width-60x--md mx-auto g-mb-50">
            <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
              <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">Research</h2>
            </div>
            <p class="g-font-size-16">We've Done some Amazing Jobs.</p>
          </header>
        </div>
        <!-- End Heading -->
        <!-- Cube Portfolio Blocks - Filter -->
        <ul id="filterControls" class="d-block list-inline text-center g-mb-50">
          <li class="list-inline-item cbp-filter-item cbp-filter-item-active g-brd-around g-brd-secondary-light-v2 g-brd-primary--active g-color-gray-dark-v4 g-color-primary--hover g-color-primary--active g-font-size-12 g-rounded-30 g-transition-0_3 g-px-20 g-py-7 mb-2" role="button"
              data-filter="*">All
          </li>
          {% for label in labels %}
          <li class="list-inline-item cbp-filter-item g-brd-around g-brd-secondary-light-v2 g-brd-primary--active g-color-gray-dark-v4 g-color-primary--hover g-color-primary--active g-font-size-12 g-rounded-30 g-transition-0_3 g-px-20 g-py-7 mb-2" role="button"
              data-filter=".{{ label }}">{{ label }}
          </li>
          {% endfor %}
        </ul>
        <!-- End Cube Portfolio Blocks - Filter -->

        <div class="cbp g-mb-50"
             data-controls="#filterControls"
             data-animation="quicksand"
             data-x-gap="30"
             data-y-gap="30"
             data-media-queries='[
               {"width": 1500, "cols": 3},
               {"width": 1100, "cols": 3},
               {"width": 800, "cols": 3},
               {"width": 480, "cols": 2},
               {"width": 300, "cols": 1}
             ]'>
          {% for research in researches %}
          <!-- Cube Portfolio Blocks - Item -->            
          <div class="cbp-item {{ research.tag1 }} {{ research.tag2 }} {{ research.tag3 }}">
            <div class="u-block-hover g-parent">
              <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_5 g-transition--ease-in-out" src="{{ MEDIA_URL }}{{ research.image }}" alt="Image description">
              <div class="d-flex w-100 h-100 g-bg-primary-opacity-0_6 opacity-0 g-opacity-1--parent-hover g-pos-abs g-top-0 g-left-0 g-transition-0_3 g-transition--ease-in u-block-hover__additional--fade u-block-hover__additional--fade-in g-pa-20">
                <ul class="align-items-end flex-column list-inline mt-auto ml-auto mb-0">
                  <li class="list-inline-item">
                    <a class="u-icon-v2 u-icon-size--sm g-brd-white g-color-black g-bg-white rounded-circle" href="{% url 'detial' 'research' research.pk %}">
                      <i class="icon-communication-095 u-line-icon-pro"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="text-center g-pa-25 mb-1">
              <h3 class="h5 g-color-black mb-1">{{ research.title }}</h3>
              <p class="mb-0">{{ research.pk }}</p>
            </div>
          </div>
          <!-- End Cube Portfolio Blocks - Item -->
          {% endfor %}
        </div>


          </div>
      <!-- End Cube Portfolio Blocks - Content -->



{% endblock %}
{% block js %}
    <script>
      $(document).on('ready', function () {
        // initialization of carousel
        $.HSCore.components.HSCarousel.init('.js-carousel');

        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of go to section
        $.HSCore.components.HSGoTo.init('.js-go-to');

        // initialization of counters
        var counters = $.HSCore.components.HSCounter.init('[class*="js-counter"]');

        // initialization of popups
        $.HSCore.components.HSPopup.init('.js-fancybox');
      });

      $(window).on('load', function() {
        // initialization of HSScrollNav
        $.HSCore.components.HSScrollNav.init($('#js-scroll-nav'), {
          duration: 700
        });

        // initialization of cubeportfolio
        $.HSCore.components.HSCubeportfolio.init('.cbp');
      });
    </script>
{% endblock %}