{% extends 'web/base.html' %}
 
{% block title %}
<title>AI-Zone - Team</title>
{% endblock %}
 
{% block content %}
  <!-- Breadcrumbs -->
  <div class="text-center g-pt-70 g-mb-70">
    <header class="text-center g-width-60x--md mx-auto g-mb-50">
      <div class="u-heading-v2-3 g-brd-primary g-mb-20">
        <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 ">Director</h2>
      </div>
    </header>
  </div>  <!-- End Breadcrumbs -->
  <div class="row">
    <div class="col-lg-5 col-sm-6 g-mb-70 mx-auto">
      <!-- Figure -->
      <figure class="row flex-md-row align-items-center">
        <!-- Figure Image -->
        <div class="col-md-6 order-md-1 px-0">
          <img class="w-100" src="/static/assets/our-image/zhzhang_400x550.jpg" alt="Image Description">
        </div>
        <!-- End Figure Image -->

        <!-- Figure Body -->
        <div class="col-md-6 order-md-2 px-0">
          <div class="u-ns-bg-v1-bottom u-ns-bg-v1-left--md g-bg-white g-py-30 g-px-50">
            <!-- Figure Info -->
            <div class="g-mb-25">
              <div class="g-mb-20">
                <h4 class="h4 g-color-black g-mb-5"> <b>张志华</b></h4>
                <em class="d-block g-font-style-normal g-font-size-15 ">Ph D, Professor</em>
              </div>
              <p><b>Research Areas:</b><br>
              <p>Reinforcement Learning<br>
              Deep Learning/Machine Learning<br>
              Natural Language Processing/Games in AI<br>
              Numerical Algebra and Optimization<br>
              Bayesian Analysis and Computation</p>
            </div>
            <!-- End Figure Info -->

            <!-- Figure Social Icons -->
            <ul class="list-inline mb-0">
              <li class="list-inline-item g-mx-3">
                <a class="u-icon-v2 u-icon-size--xs g-color-main g-bg-gray-light-v5 g-brd-gray-light-v5 g-bg-primary--hover g-color-black--hover rounded-circle" href="http://www.math.pku.edu.cn/teachers/zhzhang/">
                  <i class="fa fa-home"></i>
                </a>
              </li>
            </ul>
            <!-- End Figure Social Icons -->
          </div>
        </div>
        <!-- End Figure Body -->

      </figure>
      <!-- End Figure -->
    </div>
  </div>

     


  
  {% for student_type, students in current %}
  {% if students %}
  <!-- Breadcrumbs -->
  <div class="text-center g-mb-70">
    <header class="text-center g-width-60x--md mx-auto g-mb-50">
      <div class="u-heading-v2-3 g-brd-primary g-mb-20">
        <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 ">Current {{ student_type }} Students</h2>
      </div>
    </header>
  </div>
    <!-- End Breadcrumbs -->
    <!-- Agents -->
  <div class="container">
    <div class="row g-mb-70">
      {% for student in students %}
      <div class="col-lg-3 col-sm-6 g-mb-30">
        <!-- Team Block -->
        <figure class="u-block-hover">
          <!-- Figure Image -->
          <img class="w-100" src="/media/{{ student.image }}" alt="Image Description">
          <!-- End Figure Image-->

          <!-- Figure Info -->
          <figcaption class="u-block-hover__additional--partially-slide-up g-mx-15">
            <div class="text-center g-bg-white g-pb-20">
              <!-- Figure Info -->
              <div class="u-block-hover__visible g-pt-20 g-pb-15 g-y-20">
                <h4 class="h5 g-color-black g-mb-5">{{ student.name }}</h4>
                <em class="d-block g-font-style-normal g-font-size-11 g-color-gray-dark-v5">{{ student.student_type }} Students</em>
              </div>
              <!-- End Info -->

              <!-- Figure Social Icons -->
              <ul class="list-inline mb-0">
                {% if student.homepage %}
                <li class="list-inline-item">
                  <a href="{{ student.homepage }}" class="u-icon-v1 u-icon-size--sm g-color-gray-light-v1 g-color-cyan--hover g-bg-transparent">
                    <i class="fa fa-home"></i>
                  </a>
                </li>
                {% endif %}
                {% if student.email %}
                <li class="list-inline-item">
                  <a href="#!" class="u-icon-v1 u-icon-size--sm g-color-gray-light-v1 g-color-blue--hover g-bg-transparent" data-modal-target="#student{{ student.pk }}" data-modal-effect="slide">
                    <i class="fa fa-envelope"></i>
                  </a>
                </li>
                <div id="student{{ student.pk }}" class="text-left g-max-width-600 g-bg-white g-overflow-y-auto g-pa-20" style="display: none;">
                  <button type="button" class="close" onclick="Custombox.modal.close();">
                    <i class="hs-icon hs-icon-close"></i>
                  </button>
                  <h4 class="g-mb-20">Email</h4>
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;{{ student.email }}&nbsp;&nbsp;&nbsp;&nbsp;</p>
                </div>
                {% endif %}
                {% if student.github  %}
                <li class="list-inline-item">
                  <a href="{{ student.github }}" class="u-icon-v1 u-icon-size--sm g-color-gray-light-v1 g-color-bluegray--hover g-bg-transparent">
                    <i class="fa fa-github"></i>
                  </a>
                </li>
                {% endif %}
              </ul>
              <!-- Figure Social Icons -->
            </div>
          </figcaption>
          <!-- End Figure Info-->
        </figure>
        <!-- End Team Block -->
      </div>        
      {% endfor %}
    </div>
  </div>
  <!-- End Agents -->
  {% endif %}  
  {% endfor %}  
  
  {% if alumni %}
  <!-- Breadcrumbs -->
  <div class="text-center g-mb-70">
    <header class="text-center g-width-60x--md mx-auto g-mb-50">
      <div class="u-heading-v2-3 g-brd-primary g-mb-20">
        <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 ">Alumni</h2>
      </div>
    </header>
  </div>  <!-- End Breadcrumbs -->
    <!-- Agents -->
  <div class="container">
    <div class="row g-mb-70">
      {% for student in alumni %}
      <div class="col-lg-3 col-sm-6 g-mb-30">
        <!-- Team Block -->
        <figure class="u-block-hover">
          <!-- Figure Image -->
          <img class="w-100" src="/media/{{ student.image }}" alt="Image Description">
          <!-- End Figure Image-->

          <!-- Figure Info -->
          <figcaption class="u-block-hover__additional--partially-slide-up g-mx-15">
            <div class="text-center g-bg-white g-pb-20">
              <!-- Figure Info -->
              <div class="u-block-hover__visible g-pt-20 g-pb-15 g-y-20">
                <h4 class="h5 g-color-black g-mb-5">{{ student.name }}</h4>
                <em class="d-block g-font-style-normal g-font-size-11 g-color-gray-dark-v5">{{ student.student_type }} Students</em>
              </div>
              <!-- End Info -->

              <!-- Figure Social Icons -->
              <ul class="list-inline mb-0">
                {% if student.homepage %}
                <li class="list-inline-item">
                  <a href="{{ student.homepage }}" class="u-icon-v1 u-icon-size--sm g-color-gray-light-v1 g-color-cyan--hover g-bg-transparent">
                    <i class="fa fa-home"></i>
                  </a>
                </li>
                {% endif %}
                {% if student.email %}
                <li class="list-inline-item">
                  <a href="#!" class="u-icon-v1 u-icon-size--sm g-color-gray-light-v1 g-color-blue--hover g-bg-transparent" data-modal-target="#student{{ student.pk }}" data-modal-effect="slide">
                    <i class="fa fa-envelope"></i>
                  </a>
                </li>
                <div id="student{{ student.pk }}" class="text-left g-max-width-600 g-bg-white g-overflow-y-auto g-pa-20" style="display: none;">
                  <button type="button" class="close" onclick="Custombox.modal.close();">
                    <i class="hs-icon hs-icon-close"></i>
                  </button>
                  <h4 class="g-mb-20">Email</h4>
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;{{ student.email }}&nbsp;&nbsp;&nbsp;&nbsp;</p>
                </div>
                {% endif %}
                {% if student.github  %}
                <li class="list-inline-item">
                  <a href="{{ student.github }}" class="u-icon-v1 u-icon-size--sm g-color-gray-light-v1 g-color-bluegray--hover g-bg-transparent">
                    <i class="fa fa-github"></i>
                  </a>
                </li>
                {% endif %}
              </ul>
              <!-- Figure Social Icons -->
            </div>
          </figcaption>
          <!-- End Figure Info-->
        </figure>
        <!-- End Team Block -->
      </div>   
      {% endfor %}
    </div>
  </div>
  <!-- End Agents -->
  {% endif %} 



{% endblock %}